.windowMain {
  height: 70vh;
  width: 50vw;
  position: absolute;
  left: 35vw;
  top: 15vh;
  font-size: 12px;
  background: #c3c3c3;
  border-top: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  border-right: 1.5px solid #5a5a5a;
  border-bottom: 1.5px solid #5a5a5a;
  box-shadow: 1.5px 1.5px #000;
  outline: 1px solid #dedede;
  resize: both;
  overflow: auto;
  z-index: 4;
}

@media screen and (max-width: 1000px) {
  .windowMain {
    height: 50vh;
    width: 70vw;
  }
}

.windowNav {
  background: #00007c;
  color: #FFF;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 2;
  margin: 2px;
  padding: 2px 2px 2px 2px;
}

.windowName {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 16px;
  height: 1.25rem;
  line-height: 1px;
  padding: 2px;
}

.windowName p {
  margin-left: 2px;
}

.windowButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.windowButtons button {
  background: #c3c3c3;
  border-top: 1px solid #fafafa;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  box-shadow: 1px 1px #000;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-left: 2px;
  cursor: pointer;
}

/* minimize button */
.windowButtons button span {
  height: 8px;
  width: 9px;
  border-width: 2px 1px 1px 1px;
  border-style: solid;
  border-color: black;
}