.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px;
}

.icon {
  margin: 8px 30px;
  flex-basis: 15%;
}

.iconTitle {
  font-size: 18px;
  font-weight: 600;
}

.computerApps {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.computerApps p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.compApp {
  margin: 0px 5px;
  flex-basis: 25%;
  cursor: pointer;
}

.appsContainer {
  height: 95.75%;
  background-color: rgb(255, 255, 255);
}


.project {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px #333 solid;
}

.projectTitle {
  font-size: 2.25em;
  font-weight: bold;
  text-decoration: underline;
}

.projectInfo {
  font-size: 1.5em;
  width: 80%;
}

.projectImage {
  height: auto;
  width: 90%;
}

.projectBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  justify-content: space-evenly;
  width: 75%;
  margin-bottom: 15px;
}

.projectBottom a {
  text-decoration: underline;
}

.mailContainer {
  display: flex;
  flex-direction: column;
}

.mailSend {
  border: 1px solid #fff;
  outline: 1px solid #7b7d7b;
  font-size: 12px;
  padding: 4px;
  margin: 2px;
}

.mailContent {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.mailDetails {
  border: 1px solid #fff;
  background: #fff;
  width: 100%;
}

.mailDetails input {
  outline: none;
  border: none;
  font-family: 'MS Sans Serif';
}

.mailDetails p {
  color: #9b9b9b;
  margin-right: 5px;
  font-size: 14px;
}

.mailSubject {
  display: flex;
  height: 20px;
  align-items: center;
}

.mailReceipient {
  background: #c2d6fc;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  font-size: 14px;
}

.mailHeader {
  font-weight: bold;
  font-size: 24px;
  padding-top: 10px;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: auto;
}

.mailForm {
  user-select: none;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.mailSendButton {
  box-shadow: 1.5px 1.5px #000;
  border-top: 1.5px solid #fafafa;
  border-left: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #5a5a5a;
  border-right: 1.5px solid #5a5a5a;
  background: silver;
  padding: 3px;
  display: flex;
}

.mailSendButton p {
  margin: 0 2px;
}

.mailText {
  background: none;
  border-top: 1.5px solid #000;
  border-left: 1.5px solid #000;
  border-bottom: 1.5px solid #fafafa;
  border-right: 1.5px solid #fafafa;
  box-shadow: none;
  resize: none;
  color: #000;
  font-size: 14px;
  font-family: 'MS Sans Serif';
  flex-grow: 1;
}

.notes {
  background-color: #FFF;
  height: 95.75%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.notesTitle {
  margin-top: 15px;
  font-size: 4.20em;
}

.notesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  text-align: left;
}

.note {
  font-size: 1.5em;
}